/*.login-background {
    height: 100vh;
}
.formulario-login {
    background-color: #fff;
    border-radius: 4rem 4rem 4rem 4rem;
}*/

.login-background {
    height: 100vh;
}
.formulario-login {
    background-color: #fff;
    border-radius: 4rem 4rem 4rem 4rem;
}
